<!-- your html code here -->


<div class="card mb-3 w-100">
    <div class="row g-0">
        <div class="col-md-4">
            <div class="ratio ratio-1x1">

                <img src="https://i.pinimg.com/1200x/fd/c9/26/fdc9266a56051c23c96955da324f77c9.jpg"
                    class="w-100 h-100 object-fit-cover rounded-circle" alt="teclado">
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><strong>The Second Heading</strong> Is Pretty Cool Too.</h5>

                <p class="card-text"><small class="text-body-secondary">Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Labore ut ullam voluptate, hic vero quos ad placeat nobis ipsum atque</small></p>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end p-1 ps-3">
     <p class="mb-0">
        <small class="text-danger">services.html</small></p>
     </div>
</div>
